<!doctype html>
<html>
 <head>
 <title>Other Layout</title>
 </head>
 <body>
 <!-- Top Menu -->
 <main>
<h3>This is the Other Layout!</h3>
 {{{body}}}
 <h3>This is the Other Layout!</h3>
 </main>
 <!-- footer -->
 </body>
</html>
